table {
  border-collapse: collapse;
  border-top: 1px solid black;
}

td {
  font-size: 20px;
  padding: 5px 25px 5px;
}

td::first-letter {
  color: green;
}

tr:nth-child(even) {
  background-color: grey;
}

tr:nth-child(3) {
  background-color: darkred;
}
